#home{
    background-image: url(/images/backgrounds/h_img.jpg);
    color: white;
    text-align: center;
    font-size: 20px;
    background-size: cover;
}
.welcome{
    font-size: 40px;
}
#about{
    text-align: center;
}
#services{
    background-image: url(/images/backgrounds/s_image.jpg);
    color: white;
    text-align: center;
    font-size: 20px;
}
.row{
    color: darkgray;
}

.container-whatwedo {
    text-align: center;
}
#portfolio{
    text-align: center;
}
#contacts{
    background-image: url("images/backgrounds/c_image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom:
  }
  footer{
  display: inline-block;
  }
  .inpo{
  width: 35%;
  }
  input{
  background: inherit;
  width: 25%;
  }
  input{
    color:white;
  }
  textarea {
  background: inherit;
  width: 50%;
  color:white;
  }
  button{
    width: 20%;
  }